
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.header{
    height: 100px;
    width: 100%;
    background-color: rgb(138, 127, 97);
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    height: 80px;
            
}

.produtos{
    height: 100vh;
    background-color: antiquewhite;
    border: solid 4px  rgb(138, 127, 97);
    padding: 10px;
}
.produto{
    height: 40%;
    width: 20%;
    background-color:  rgb(226, 224, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagem{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.img-prod{
    /* height: 50%; */
    width: 95%;
}