
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.header{
    height: 100px;
    width: 100%;
    background-color: aqua;
}
.logo{
    display: flex;
    height: 50px;
            
}
